.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-around {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
}


.justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.justify-start{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-start;
}

.items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.items-base {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.items-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.items-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.text-center {
    text-align: center;
}

.flex-column{
    flex-direction: column;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.cursor-pointer{
    cursor: pointer;
}

.w-full{
    width: 100%;
}

.w-50{
    width: 50%;
}

.w-30{
    width: 30%;
}

.w-70{
    width: 70%;
}

.mr-1{
    margin-right: 4px;
}

.mr-2{
    margin-right: 8px;
}

.mr-3{
    margin-right: 12px;
}

.mr-4{
    margin-right: 16px;
}

.mr-5{
    margin-right: 20px;
}

.mt-1{
    margin-top: 4px;
}

.mt-2{
    margin-top: 8px;
}

.mt-3{
    margin-top: 12px;
}

.mt-4{
    margin-top: 16px;
}